@import forms.CartForm
@import models.entities.Cart
@import play.data.Form
@import b3.vertical.fieldConstructor

@(identity: String,
        cartForm: Form[CartForm],
        cartList: List[Cart],
        cartCount: Int
)

@totalCost = @{
    cartList.map { cart =>
      val book = cart.getBook
        (book.getBookCost * (100 - book.getBookDiscount)/100) * cart.getBookNumber
    }.sum
}

@main(identity, Messages("title.cart"), "45%", cartCount) {

    <ol class="breadcrumb">
        <li class="active">
            <i class="fa fa-check-circle"></i> Danh sách mặt hàng
        </li>
    </ol>

    <div id="content">
        @if(cartList.isEmpty) {
            <p>Không có sách trong giỏ</p>
        }
        @for(cart <- cartList) {
            @helper.form(action = controllers.routes.CartController.edit(cart.getCardId)) {
                <div class="book-item">
                    <input type="text" name="bookId" class="d-none-important" value="@cart.getBook.getBookId" readonly>
                    <div class="w-70 d-flex">
                        <div class="div-attach">
                            <img class="img-select" src="@cart.getBook.getBookImage"
                            alt="@cart.getBook.getBookImage.split("/").last" deg="0">
                        </div>
                        <div class="w-100 d-flex cart-book-info">
                            <div class="w-80">
                                <h5>@cart.getBook.getBookName</h5>
                                <p>Tác giả: <span>@cart.getBook.getBookAuthor</span></p>
                                <p>Nhà xuất bản: <span>@cart.getBook.getBookProduce</span></p>
                            </div>
                            <div class="w-20 text-right cart-book-cost">
                                <p>@{
                                    val book = cart.getBook
                                    book.getBookCost * (100 - book.getBookDiscount)/100
                                } đ</p>
                                <p>@cart.getBook.getBookCost đ</p>
                                <div>-@cart.getBook.getBookDiscount%</div>
                            </div>
                        </div>
                    </div>
                    <div class="w-30 d-flex" style="justify-content: flex-end; height: max-content;">
                        <input type="number" name="bookNumber" class="form-control book-number" value="@cart.getBookNumber">
                        <button type="submit" class="btn btn-danger btn-default book-delete">Bỏ</button>
                    </div>
                </div>
            }
        }
    </div>
}(sidebar)

@sidebar = {
    <div class="sidebar-session" style="margin-bottom: 10px;">
        <h5 class="sidebar-title">
            <i class="fa fa-check-circle"></i> Tổng tiền
        </h5>
        <div class="sidebar-body text-right">
            <h4 style="color: red;">@totalCost đ</h4>
        </div>
    </div>
    <div class="sidebar-session">
        <h5 class="sidebar-title">
            <i class="fa fa-check-circle"></i> Chức năng
        </h5>
        <div class="sidebar-body">
            <div class="my-label-120 sidebar-button">
                <a type="submit" class="btn btn-default btn btn-block" href="@routes.Application.index()">
                    Trang chủ
                </a>
            </div>
            <div class="my-label-120 sidebar-button">
                <a type="button" class="btn btn-primary btn-block btn-add-view"
                href="@controllers.routes.CartController.paymentView()"
                modal-title="Phương thức thanh toán">
                    Đặt hàng
                </a>
            </div>
        </div>
    </div>
}
