@import forms.StaffForm
@import b3.vertical.fieldConstructor
@import play.data.Form

@(staffForm: Form[StaffForm])

@positionOptions = @{
    Seq(
        "admin" -> "quản trị viên",
        "manager" -> "quản lý",
        "seller" -> "bán hàng",
        "importer" -> "nhập hàng"
    )
}

<div class="container-fluid">
    <div class="row">
        @helper.form(action = routes.StaffController.add()) {
            <div class="container-fluid">
                <div class="form-group row">
                    <label class="col-sm-1 my-label-150">Tên tài khoản</label>
                    <div class="col-sm-6">
                    @b3.text(staffForm("accountName"), 'class -> "form-control")
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-1 my-label-150">Mật khẩu</label>
                    <div class="col-sm-6">
                    @b3.password(staffForm("accountPassword"), 'class -> "form-control")
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-1 my-label-150">Nhập lại mật khẩu</label>
                    <div class="col-sm-6">
                    @b3.password(staffForm("accountRepeatPassword"), 'class -> "form-control")
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-1 my-label-150">Họ và tên</label>
                    <div class="col-sm-6">
                    @b3.text(staffForm("staffName"), 'class -> "form-control")
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-1 my-label-150">Tuổi</label>
                    <div class="col-sm-6">
                    @b3.number(staffForm("staffAge"), 'class -> "form-control")
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-1 my-label-150">Địa chỉ</label>
                    <div class="col-sm-6">
                    @b3.text(staffForm("staffAddress"), 'class -> "form-control")
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-1 my-label-150">Số điện thoại</label>
                    <div class="col-sm-6">
                    @b3.text(staffForm("staffPhone"), 'class -> "form-control")
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-1 my-label-150">Lương</label>
                    <div class="col-sm-6">
                    @b3.text(staffForm("staffSalary"), 'class -> "form-control")
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-1 my-label-150">Chức vụ</label>
                    <div class="col-sm-6">
                    @b3.select(staffForm("accountPosition"), options = positionOptions, 'class -> "form-control")
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-1 my-label-150">Ghi chú</label>
                    <div class="col-sm-8">
                    @b3.textarea(staffForm("staffNote"), 'rows -> 10, 'class -> "form-control")
                    </div>
                </div>
                <div style="margin: 10px 0;">
                    <button type="submit" class="btn btn-primary btn-block btn-page btn-add"
                        modal-title="Sửa thông tin">Đăng kí</button>
                </div>
            </div>
        }
    </div>
</div>