@import forms.StaffForm
@import models.entities.Staff
@import b3.vertical.fieldConstructor
@import play.data.Form

@import utils.GlobalVariable
@(staffForm: Form[StaffForm],
        staffRetrieve: Staff
)

@positionOptions = @{
    Seq(
        "admin" -> "quản trị viên",
        "manager" -> "quản lý",
        "seller" -> "bán hàng",
        "importer" -> "nhập hàng"
    )
}

@position = @{
    if(session().get(GlobalVariable.userIdentity) == "admin") {
        0
    } else {
        getPriority(session().get(GlobalVariable.userPosition))
    }
}

@positionStaff = @{
    getPriority(staffRetrieve.getAccount.getAccountPosition)
}

@getPriority(pos: String) = @{
    if(pos == "admin") {
        1
    } else if(pos == "manager") {
        2
    } else if(pos == "seller") {
        3
    } else {
        3
    }
}

<div class="container-fluid">
    <div class="row">
    @helper.form(action = routes.StaffController.edit(staffRetrieve.getStaffId)) {
        <div class="container-fluid">
            <div class="form-group row">
                <label class="col-sm-1 my-label-150">Tên tài khoản</label>
                <div class="col-sm-6">
                @b3.text(staffForm("accountName"), 'class -> "form-control", 'readonly -> true)
                </div>
            </div>
            <div class="form-group row d-none">
                <label class="col-sm-1 my-label-150">Mật khẩu</label>
                <div class="col-sm-6">
                @b3.text(staffForm("accountPassword"), 'class -> "form-control", 'readonly -> true)
                </div>
            </div>
            <div class="form-group row d-none">
                <label class="col-sm-1 my-label-150">Nhập lại mật khẩu</label>
                <div class="col-sm-6">
                @b3.text(staffForm("accountRepeatPassword"), 'class -> "form-control", 'readonly -> true)
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-1 my-label-150">Họ và tên</label>
                <div class="col-sm-6">
                @b3.text(staffForm("staffName"), 'class -> "form-control", 'readonly -> true)
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-1 my-label-150">Tuổi</label>
                <div class="col-sm-6">
                @b3.number(staffForm("staffAge"), 'class -> "form-control", 'readonly -> true)
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-1 my-label-150">Địa chỉ</label>
                <div class="col-sm-6">
                @b3.text(staffForm("staffAddress"), 'class -> "form-control", 'readonly -> true)
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-1 my-label-150">Số điện thoại</label>
                <div class="col-sm-6">
                @b3.text(staffForm("staffPhone"), 'class -> "form-control", 'readonly -> true)
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-1 my-label-150">Lương</label>
                <div class="col-sm-6">
                @b3.text(staffForm("staffSalary"), 'class -> "form-control", 'readonly -> {
                    if(position < positionStaff) false else true
                })
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-1 my-label-150">Chức vụ</label>
                <div class="col-sm-6">
                @b3.select(staffForm("accountPosition"),
                    options = positionOptions.filter{p => position <= getPriority(p._1)},
                    'class -> "form-control",
                    'readonly -> {if(position < positionStaff) false else true}
                )
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-1 my-label-150">Ghi chú</label>
                <div class="col-sm-8">
                @b3.textarea(staffForm("staffNote"), 'rows -> 10, 'class -> "form-control", 'readonly -> true)
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-1 col-form-label my-label-150">Ngày tạo</label>
                <div class="col-sm-9">
                    <label style="font-size: 14px">@{utils.Convert.formatTimeStamp(staffRetrieve.getCreatedAt)}</label>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-1 col-form-label my-label-150">Người tạo</label>
                <div class="col-sm-9">
                    <label style="font-size: 14px">@staffRetrieve.getCreatedBy.getAccountName</label>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-1 col-form-label my-label-150">Ngày cập nhật</label>
                <div class="col-sm-9">
                    <label style="font-size: 14px">@{utils.Convert.formatTimeStamp(staffRetrieve.getUpdatedAt)}</label>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-1 col-form-label my-label-150">Người cập nhật</label>
                <div class="col-sm-9">
                    <label style="font-size: 14px">@staffRetrieve.getUpdatedBy.getAccountName</label>
                </div>
            </div>
            <div class="d-flex" style="justify-content: center;">
                @if(position < positionStaff) {
                    @if(staffRetrieve.getAccount().isLock()) {
                        <div style="margin: 10px 0;">
                            <a href="@routes.AccountController.unLockAccount(staffRetrieve.getAccount().getAccountName())"
                            class="btn btn-primary btn-block btn-page btn-unlock">Mở khoá</a>
                        </div>
                    } else {
                        <div style="margin: 10px 0;">
                            <a href="@routes.AccountController.lockAccount(staffRetrieve.getAccount().getAccountName())"
                            class="btn btn-danger btn-block btn-page btn-lock">Khoá tài khoản</a>
                        </div>
                    }
                    <div style="margin: 10px;">
                        <button type="submit" class="btn btn-primary btn-block btn-page btn-edit" modal-title="Sửa thông tin">Cập nhật</button>
                    </div>
                }
            </div>
        </div>
    }
    </div>
</div>