@import b3.vertical.fieldConstructor
@import play.data.Form
@import models.entities.Staff
@import forms.StaffSearchForm
@(identity: String,
        staffForm: Form[StaffSearchForm],
        staffList: List[Staff],
        offset: Int,
        totalPage: Int
)

@positionOptions = @{
    Seq(
        "admin" -> "quản trị viên",
        "manager" -> "quản lý",
        "seller" -> "bán hàng",
        "importer" -> "nhập hàng"
    )
}

@positionMap = @{positionOptions.toMap}

@main(identity, Messages("title.staff"), "45%") {

    <ol class="breadcrumb">
        <li class="active">
            <i class="fa fa-check-circle"></i> Danh sách nhân viên
        </li>
    </ol>

    <div id="content">
        <table class="table table-bordered table-striped table-first-center table-hover">
            <thead>
                <tr>
                    <th width="4%"></th>
                    <th scope="col" width="20%">Tên nhân viên</th>
                    <th scope="col" width="15%">Tên tài khoản</th>
                    <th scope="col" width="15%">Vị trí</th>
                    <th scope="col" width="5%">Tuổi</th>
                    <th scope="col" width="15%">Lương</th>
                    <th scope="col">Địa chỉ</th>
                </tr>
            </thead>
            <tbody>
                @for(staff <- staffList) {
                    <tr>
                        <td><a href="@routes.StaffController.editView(staff.getStaffId)"
                                class="btn-edit-view" modal-title="Sửa thông tin">Sửa</a></td>
                        <td>@staff.getStaffName</td>
                        <td>@staff.getAccount.getAccountName</td>
                        <td>@positionMap.get(staff.getAccount.getAccountPosition)</td>
                        <td>@staff.getStaffAge</td>
                        <td>@staff.getStaffSalary</td>
                        <td>@staff.getStaffAddress</td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="overflow-auto">
            <div class="w-max margin-auto">
                @paginate(offset, totalPage, controllers.routes.StaffController.searchView)
            </div>
        </div>
    </div>
}(sidebar)

@sidebar = {
    <div class="sidebar-session">
        <h5 class="sidebar-title">
            <i class="fa fa-check-circle"></i> Tìm kiếm
        </h5>
        <div class="sidebar-body">
        @helper.form(action = controllers.routes.StaffController.search(1)) {
            <div class="form-group">
                <label for="note" class="col-form-label">Vị trí</label>
                @b3.select(staffForm("position"), options = positionOptions, 'class -> "form-control", '_default -> "")
            </div>
            <div class="form-group">
                <label for="userName" class="col-form-label">Tên tài khoản</label>
                @b3.text(staffForm("accountName"), 'class -> "form-control")
            </div>
            <div class="form-group">
                <label for="isDeleted" class="col-form-label">Tên nhân viên</label>
                @b3.text(staffForm("staffName"), 'class -> "form-control")
            </div>
            <div class="my-label-120 sidebar-button">
                <button type="submit" class="btn btn-primary btn-block">Tìm kiếm</button>
            </div>
        }
        </div>
    </div>

    <div class="sidebar-session">
        <h5 class="sidebar-title">
            <i class="fa fa-check-circle"></i> Chức năng
        </h5>
        <div class="my-label-120 sidebar-body sidebar-button">
            <a href="@routes.StaffController.addView()"
            class="btn btn-success btn-block btn-add-view" modal-title="Tạo tài khoản">Tạo mới</a>
        </div>
    </div>
}
