body {
    background-image: url(/assets/screenshots/header-background-2.jpg) !important;
    background-repeat: no-repeat;
    background-size: auto 500px;
}

header {
    border: none !important;
}

footer {
    margin-top: 50px;
}

.header {
    background-color: #5f9973;
    height: 65px;
    display: flex;
    align-items: center;
}

.header::after {
    content: '';
    background-image: url(/assets/screenshots/nav-bg.png);
    background-size: auto 100%;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: -1;
    height: 8px;
}

.menu {
    background-color: #72a17e;
    height: 32px;
    width: 125px;
    color: white !important;
    align-items: center;
    cursor: pointer;
    text-decoration: none !important;
    position: relative;
    border-radius: 5px;
    display: flex !important;
}

.d-flex {
    display: flex;
}

.d-flex-import {
    display: flex !important;
}

.icon-menu {
    color: white;
    align-items: center;
    justify-content: center;
    min-width: 42px;
}

.icon-menu i {
    font-size: 20px;
}

.m-right-25 {
    margin-right: 25px;
}

.m-right-60 {
    margin-right: 60px;
}

.m-left-25 {
    margin-left: 25px;
}

.w-100 {
    width: 100%;
}

.w-50 {
    width: 50%;
}

.w-75 {
    width: 75%;
}

.w-80 {
    width: 80%;
}

.w-25 {
    width: 25%;
}

.w-20 {
    width: 20%;
}

.w-30 {
    width: 30%;
}

.w-70 {
    width: 70%;
}

.w-60 {
    width: 60%;
}

.w-40 {
    width: 40%;
}

.h-100 {
    height: 100%;
}

.f-right-important {
    float: right !important;
}

.f-left-important {
    float: left !important;
}

.d-none {
    display: none;
}

.menu-content {
    display: none;
    position: absolute;
    top: 100%;
    width: 500px;
    background: #72a17e;
    padding: 30px;
    z-index: 5;
}

.menu-content a {
    color: white;
    text-decoration: none !important;
}

.menu-content a:hover {
    color: white;
}

.menu:hover span {
    color: #c3c3c3;
}

.menu:hover .menu-content {
    display: block;
}

.border {
    padding: 10px 10px;
    border-bottom: solid 1px white;
}

.border:hover {
    background-color: #7ebd94;
}

.text-title {
    color: #63b197;
    font-size: 21px;
    margin-bottom: 20px;
}

.introduce {
    margin: 20px 0;
    background-color: white;
}

.rank {
    border-left: solid 1px #eee;
    padding: 0 20px 30px 20px;
}

.rank-book {
    height: 40px;
    padding: 5px 0;
    border-bottom: dashed 1px #eee;
    border-top: dashed 1px #eee;
    display: flex;
    align-items: center;
    position: relative;
}

.rank-star {
    background-repeat: no-repeat;
    background-size: 30px;
    color: white;
    width: 30px;
    height: 30px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: 500;
}

.rank-star-1 {
    background-image: url(/assets/screenshots/icon-star-1.png);
}

.rank-star-2 {
    background-image: url(/assets/screenshots/icon-star-2.png);
}

.rank-star-3 {
    background-image: url(/assets/screenshots/icon-star-3.png);
}

.rank-book-name {
    margin-left: 10px;
    width: 200px;
    font-size: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.rank-book-sell {
    position: absolute;
    right: 0;
    color: #b5b1b1;
}

.normal-rank {
    color: #6b9876;
}

.title {
    color: white;
    background: url(/assets/screenshots/title2.jpg);
    border-radius: 5px;
    padding: 5px 5px 5px 10px;
    font-size: 20px;
}

/*book*/
.book {
    height: 350px;
    border: solid 1px #cccccc;
    border-radius:5%;
    position:relative;
}
.book .discount {
    position: absolute;
    padding: 10px 10px;
    z-index: 1;
    background-size: 43px;
    background-image: url(/assets/images/discount-background.png);
    background-repeat: no-repeat;
    background-position: center;
    right: 0px;
    top: -16px;
    color: white;
    font-weight: bold;
}

.book .book-image {
    width: 85%;
    margin: 10px auto;
    height: 220px;
    overflow: hidden;
    text-align: center;
}

.book .book-image img {
    height: 100%;
}

.book .book-text {
    width: 95%;
    margin: 10px auto;
    font-size: 16px;
    text-align: center;
}

.book .book-text p {
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
}

.book .book-text p a {
    color: #525252;
    font-weight: bold;
}

.book .book-text a {
    text-decoration: none;
    cursor: pointer;
}

.book .book-btn {
    min-width: max-content;
    padding-left: 15px;
}

.book .book-btn button {
    color: #525252;
    font-weight: bold;
    padding: 8px 15px;
    cursor: pointer;
    border-radius:5%;
}

.book .book-btn a:hover {
    text-decoration: none;
    background: #828ce7;
}

.book-row {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 7px !important;
}

.form-control {
    height: 30px;
}

.my-label-100 {
    width: 100px !important;
}

.my-label-120 {
    width: 120px !important;
}

.my-label-130 {
    width: 130px !important;
}

.my-label-150 {
    width: 150px !important;
}

.my-label-153 {
    width: 153px !important;
}

.my-label-160 {
    width: 160px !important;
}

.my-label-190 {
    width: 190px !important;
}

.items-center {
    align-items: center;
    display: flex;
}

.page-navigation {
    margin: 10px 0 !important;
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}
.page-navigation a{
    text-decoration: none !important;
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.page-navigation a.page-active {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}

.page-navigation a:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.page-navigation a:first-child {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.btn-page {
    width: 140px !important;
    font-size: 16px !important;
    margin: auto;
}

.avatar {
    cursor: pointer;
    padding: 0 10px;
    float: right;
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 35px;
    height: 100%;
}

.avatar img {
    width: 40px;
    height: 40px;
}

.avatar div {
    color: white;
    text-decoration: none !important;
    padding-left: 5px;
    display: flex;
    align-items: center;
}

.avatar div:hover {
    color: #eee;
}

.user-option {
    position: absolute;
    padding: 10px 0;;
    top: 100%;
    right: 0;
    width: 200px;
    background-color: #e0ebbe;
    z-index: 1;
    border-radius: 3px 0 3px 3px;
    display: none;
}

.user-option li {
    list-style-type: none;
}

.user-option li:hover {
    background-color: #cbdc97;
}

.user-option li a {
    display: block;
    width: 100%;
    padding:3px 20px;
    text-decoration: none;
    color:#333;
}

.divider {
    height: 1px !important;
    margin: 5px 0;
    overflow: hidden;
    background-color: white;
    cursor: none !important;
}

.divider:hover {
    color: white !important;
}

.sign {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
}

.account-name h5 {
    margin-left: 10px;
    margin-right: 3px;
}

.input-group input:focus {
    border: none;
}

.breadcrumb i {
    font-size: 17px;
    margin-right: 10px;
}

.content-top {
    margin-top: 70px;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid black !important;
}

.table>thead>tr>th {
    text-align: center;
}

#content {
    min-height: 500px;
    padding: 15px 15px 1px 15px;
    background-color: whitesmoke;
}

select {
    height: 37px !important;
}

.d-none {
    display: none;
}

.d-none-important {
    display: none !important;
}

.rotate-image {
    position: absolute;
    top: 0px;
    left: 160px;
    cursor: pointer;
    color: palevioletred;
}

.div-attach {
    width: 150px;
    height: 150px;
    background-color: wheat;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: auto;
}

.img-select {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    max-width: 100%;
    max-height: 100%;
}

.img-select:hover {opacity: 0.7;}

/* The Modal (background) */
#photoModal .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
#photoModal .modal-content {
    margin: auto;
    display: block;
    width: 100%;
    height: auto;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#photoModal #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 110px;
}

/* The Close Button */
#photoModal .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

#photoModal .close:hover,
#photoModal .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 500px) {
    #photoModal .modal-content {
        width: 100%;
    }
}

.number-in-cart {
    position: absolute;
    color: white;
    background: red;
    padding: 0px 8px;
    top: -10px;
    right: 8px;
    opacity: 0.9;
}

.cart {
    display: flex;
    align-items: center;
}

/*slide*/
#myCarousel {
    height: 464px;
}

#myCarousel .carousel-inner {
    height: 464px;
}

#myCarousel .carousel-inner img {
    height: 464px;
    width: 100%;
}

/*footer*/
.main-footer {
    background-image: url(/assets/images/footer-background-2.jpg);
    min-height: 300px;
    padding: 100px;
    position:relative;
}

.main-footer .footer-address {
    font-size: 20px;
    margin-bottom: 20px;
}

.main-footer .footer-phone {
    font-size: 20px;
}

.main-footer .license {
    position: absolute;
    bottom: 15px;
    left: 42%;
    font-size: 18px;
}

.oldPrice {
    text-decoration:line-through;
}

.newPrice {
    color:red;
    font-size:18px;
}

.m-bottom-25 {
    margin-bottom: 25px;
}

.book-home {
    width: 55%;
    height: 65%;
    background-color: bisque;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 10px auto 0 auto;
}

.book-item {
    display: flex;
    margin-bottom: 15px;
}

.book-number {
    width: 70px !important;
    margin-right: 15px;
}

.cart-book-info {
    padding-left: 10px;
}

.cart-book-info h5 {
    font-size: 18px;
    color: #41b495;
}

.cart-book-cost p:first-child {
    font-size: 18px;
    font-weight: bold;
}

.cart-book-cost p:nth-child(2) {
    text-decoration: line-through;
    color: #aba9a9;
}

.cart-book-cost div:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 25px;
    border-radius: 2px;
    background-color: orange;
    color: white;
    font-size: 12px;
    margin-left: auto;
}

.personal {
    width: 70%;
    margin: auto;
    background: white;
    border-radius: 3px;
}

.personal-title {
    text-align: center;
    color: #63b197;
    font-size: 21px;
    padding: 20px 0;
    border-bottom: 1px solid #e5e5e5;
}

.personal-border {
    padding: 15px 0 50px 0;
    border-left: 1px solid #e5e5e542;
    border-right: 1px solid #e5e5e542;
    border-bottom: 1px solid #e5e5e542;
    border-radius: 0 0 10px 10px;
}