fontSizeOH.sidebar > div {
    margin-bottom: 15px;
}

.sidebar-session {
    border: 1px solid whitesmoke;
    padding: 15px 10px;
    background-color: #f5f5f5;
}

.sidebar-title {
    height: 36px;
    padding: 8px 15px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    background: #2d2d2d99;
    color: white;
    display: flex;
    align-items: center;
}

.sidebar-title i {
    font-size: 17px;
    margin-right: 10px;
}

.sidebar-body {
    margin-bottom: 15px;
}

.sidebar-button {
    margin-top: 20px;
}

.checkbox {
    margin-top: 0;
    margin-bottom: 0;
}

@media all and (min-width: 1200px) {
    .sidebar {
        margin: 0 -15px;
    }
}
