@import models.entities.OrderHistory
@import utils.Convert.formatTimeStamp

@(orderHistoryList: List[OrderHistory])

@content = @{
    Seq(
        "confirm" -> " đã xác nhận vận chuyển đơn hàng ",
        "accept" -> " đã xác nhận giao hàng ",
        "cancel" -> " đã huỷ bỏ đơn hàng "
    ).toMap
}

<div class="container-fluid">
    <div class="row" style="max-height: 500px;">
        @for(orderHistory <- orderHistoryList) {
            <p>
                "@orderHistory.getStaff.getAccount.getAccountName" @content.get(orderHistory.getOrderHistoryStatus) (@formatTimeStamp(orderHistory.getCreatedAt))
            </p>
        }
    </div>
</div>