@import b3.vertical.fieldConstructor
@import play.data.Form
@import models.entities.OrderDetail
@import forms.OrderSearchForm

@(identity: String,
        orderForm: Form[OrderSearchForm],
        orderDetailList: List[OrderDetail],
        offset: Int,
        totalPage: Int
)

@orderGroupMap = @{
    orderDetailList.groupBy(_.getOrder.getOrderId).mapValues(_.map(
        orderDetail => (orderDetail.getBook, orderDetail.getBookNumber, orderDetail.getBookCost, orderDetail.getBookDiscount)
    ))
}

@orderStatus = @{Seq(
    "pending" -> "Chờ xác nhận",
    "delivery" -> "Đang giao hàng",
    "accept" -> "Đã giao hàng",
    "cancel" -> "Đã huỷ"
)}

@main(identity, Messages("title.order"), "35%") {
    <ol class="breadcrumb">
        <li class="active">
            <i class="fa fa-check-circle"></i> Danh sách đơn hàng
        </li>
    </ol>

    <div id="content">
        <table class="table table-bordered table-striped table-first-center table-hover">
            <thead>
                <tr>
                    <th scope="col" width="4%"></th>
                    <th scope="col" width="13%">Tên khách hàng</th>
                    <th scope="col">Tên sách</th>
                    <th scope="col" width="9%">Số lượng</th>
                    <th scope="col" width="8%">Giá gốc</th>
                    <th scope="col" width="8%">Giá thực</th>
                    <th scope="col" width="10%">Tổng tiền</th>
                    <th scope="col" width="15%">Địa chỉ giao hàng</th>
                    <th scope="col" width="4%">Đã thanh toán</th>
                    <th width="17%">Chức năng</th>
                </tr>
            </thead>
            <tbody>
            @for(i <- 0 until orderDetailList.length) {
                @if(i == 0 || orderDetailList.get(i).getOrder != orderDetailList.get(i - 1).getOrder) {
                    <tr>
                        <td rowspan="@orderGroupMap.get(orderDetailList.get(i).getOrder.getOrderId).get.length">
                            <a href="@routes.OrderController.history(orderDetailList.get(i).getOrder.getOrderId)"
                                class="btn-edit-view" modal-title="Lịch sử xử lý đơn">
                                Lịch sử
                            </a>
                        </td>
                        <td rowspan="@orderGroupMap.get(orderDetailList.get(i).getOrder.getOrderId).get.length">
                            @orderDetailList.get(i).getOrder.getCustomer.getCustomerName
                        </td>
                        <td>@orderDetailList.get(i).getBook.getBookName</td>
                        <td>@orderDetailList.get(i).getBookNumber</td>
                        <td>@orderDetailList.get(i).getBookCost</td>
                        <td>@{
                            orderDetailList.get(i).getBookCost*(100 - orderDetailList.get(i).getBookDiscount)/100
                        } (-@orderDetailList.get(i).getBookDiscount%)</td>
                        <td rowspan="@orderGroupMap.get(orderDetailList.get(i).getOrder.getOrderId).get.length">
                            @orderDetailList.get(i).getOrder.getOrderCost
                        </td>
                        <td rowspan="@orderGroupMap.get(orderDetailList.get(i).getOrder.getOrderId).get.length">
                            @orderDetailList.get(i).getOrder.getOrderAddress
                        </td>
                        <td rowspan="@orderGroupMap.get(orderDetailList.get(i).getOrder.getOrderId).get.length" class="text-center">
                            @if(orderDetailList.get(i).getOrder().getPayed){ <i style="font-weight: bold">✓</i> }
                        </td>
                        <td rowspan="@orderGroupMap.get(orderDetailList.get(i).getOrder.getOrderId).get.length" class="text-center">
                            @if(orderDetailList.get(i).getOrder.getOrderStatus == "pending") {
                                <a href="@routes.OrderController.confirm(offset, orderDetailList.get(i).getOrder.getOrderId)"
                                    class="btn btn-default btn-primary">
                                    Xác nhận đơn hàng
                                </a>
                                <a href="@routes.OrderController.cancel(orderDetailList.get(i).getOrder.getOrderId)"
                                    class="btn btn-default btn-danger btn-cancel-order" style="width: 100%; margin-top: 10px;">
                                    Huỷ đơn hàng
                                </a>
                            } else {
                                @if(orderDetailList.get(i).getOrder.getOrderStatus == "delivery") {
                                    <a href="@routes.OrderController.accept(offset, orderDetailList.get(i).getOrder.getOrderId)"
                                        class="btn btn-default btn-success">
                                        Xác nhận giao hàng
                                    </a>
                                    <a href="@routes.OrderController.cancel(orderDetailList.get(i).getOrder.getOrderId)"
                                        class="btn btn-default btn-danger btn-cancel-order" style="width: 100%; margin-top: 10px;">
                                        Huỷ đơn hàng
                                    </a>
                                } else {
                                    @if(orderDetailList.get(i).getOrder.getOrderStatus == "cancel") {
                                        <a href="@routes.OrderController.confirm(offset, orderDetailList.get(i).getOrder.getOrderId)"
                                            class="btn btn-default btn-primary">
                                            Khôi phục đơn hàng
                                        </a>
                                    } else {
                                        Đã giao hàng
                                    }
                                }
                            }
                        </td>
                    </tr>
                    @for((book, bookNumber, bookCost, bookDiscount) <- orderGroupMap.get(orderDetailList.get(i).getOrder.getOrderId).get.tail) {
                        <tr>
                            <td>@book.getBookName</td>
                            <td>@bookNumber</td>
                            <td>@bookCost</td>
                            <td>@{
                                bookCost*(100 - bookDiscount)/100
                            } (-@bookDiscount%)</td>
                        </tr>
                    }
                }
            }
            </tbody>
        </table>
        <div class="overflow-auto">
            <div class="w-max margin-auto">
            @paginate(offset, totalPage, controllers.routes.OrderController.searchView)
            </div>
        </div>
    </div>
}(sidebar)

@sidebar = {
    <div class="sidebar-session">
        <h5 class="sidebar-title">
            <i class="fa fa-check-circle"></i> Tìm kiếm
        </h5>
        <div class="sidebar-body">
        @helper.form(action = controllers.routes.OrderController.search(1)) {
            <div class="form-group">
                <label class="col-form-label">Tên khách hàng</label>
                @b3.text(orderForm("customerName"), 'class -> "form-control")
            </div>
            <div class="form-group">
                <label class="col-form-label">Tình trạng hoá đơn</label>
                @b3.select(orderForm("orderStatus"), options = orderStatus, 'class -> "form-control", '_default -> "")
            </div>
            <div class="my-label-120 sidebar-button">
                <button type="submit" class="btn btn-primary btn-block">Tìm kiếm</button>
            </div>
        }
        </div>
    </div>
}
