@import forms.BookForm
@import b3.vertical.fieldConstructor
@import play.data.Form

@(bookForm: Form[BookForm])

@bookType = @{
    Seq(
        "politic" -> "Chính trị - Pháp luật",
        "science" -> "Khoa học - Công nghệ",
        "history" -> "Văn hoá - Lịch sử",
        "story" -> "Truyện - Tiểu thuyết",
        "mentality" -> "Tâm linh",
        "children" -> "Sách thiếu nhi"
    )
}

<div class="container-fluid">
    <div class="row">
    @helper.form(action = routes.BookController.add(), 'enctype -> "multipart/form-data") {
        <div class="container-fluid">
            <div class="form-group row">
                <label class="col-sm-1 my-label-150">Tên sách</label>
                <div class="col-sm-6">
                @b3.text(bookForm("bookName"), 'class -> "form-control")
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-1 my-label-150">Thể loại</label>
                <div class="col-sm-6">
                @b3.select(bookForm("bookType"), options = bookType, 'class -> "form-control")
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-1 my-label-150">Giá tiền</label>
                <div class="col-sm-6">
                @b3.number(bookForm("bookCost"), 'class -> "form-control")
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-1 my-label-150">Tác giả</label>
                <div class="col-sm-6">
                @b3.text(bookForm("bookAuthor"), 'class -> "form-control")
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-1 my-label-150">Nhà sản xuất</label>
                <div class="col-sm-6">
                @b3.text(bookForm("bookProduce"), 'class -> "form-control")
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-1 my-label-150">Khuyến mại</label>
                <div class="col-sm-6">
                @b3.number(bookForm("bookDiscount"), 'class -> "form-control")
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-1 my-label-150">Ghi chú</label>
                <div class="col-sm-8">
                @b3.textarea(bookForm("bookNote"), 'class -> "form-control", 'rows -> 5)
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-1 my-label-150">Hình ảnh</label>
                <div class="col-sm-6 form-group d-flex">
                    <input type="file" id="image" name="image" class="d-none-important">
                    @b3.text(bookForm("bookImage"), 'class -> "form-control", '_class -> "w-100",
                        'style -> "height: 34px", 'readonly -> true)
                    <label for="image" class="btn btn-default" style="height: 34px;">Tải</label>
                </div>
            </div>
            <div style="margin: 10px 0;">
                <button type="submit" class="btn btn-primary btn-block btn-page btn-add"
                modal-title="Sửa thông tin">Thêm sách</button>
            </div>
        </div>
    }
    </div>
</div>