@import b3.vertical.fieldConstructor
@import play.data.Form
@import models.entities.Book
@import forms.BookSearchForm
@import java.net.URLDecoder

@(identity: String,
        bookForm: Form[BookSearchForm],
        bookList: List[Book],
        offset: Int,
        totalPage: Int
)

@bookType = @{
    Seq(
        "politic" -> "Chính trị - Pháp luật",
        "science" -> "Khoa học - Công nghệ",
        "history" -> "Văn hoá - Lịch sử",
        "story" -> "Truyện - Tiểu thuyết",
        "mentality" -> "Tâm linh",
        "children" -> "Sách thiếu nhi"
    )
}

@main(identity, Messages("title.book"), "45%") {

    <ol class="breadcrumb">
        <li class="active">
            <i class="fa fa-check-circle"></i> Kho sách
        </li>
    </ol>

    <div id="content">
        <table class="table table-bordered table-striped table-first-center table-hover">
            <thead>
                <tr>
                    <th width="4%"></th>
                    <th scope="col" width="27%">Hình ảnh</th>
                    <th scope="col" width="28%">Tên sách</th>
                    <th scope="col" width="10%">Giá tiền</th>
                    <th scope="col" width="10%">Khuyến mại</th>
                    <th scope="col">Tác giả</th>
                </tr>
            </thead>
            <tbody>
            @for(book <- bookList) {
                <tr>
                    <td class="text-center"><a href="@routes.BookController.editView(book.getBookId)"
                    class="btn-edit-view" modal-title="Sửa thông tin">Sửa</a></td>
                    <td>
                        <div class="div-attach">
                            <img class="img-select" src="@book.getBookImage"
                            alt="@book.getBookImage.split("/").last" deg="0">
                            <i class="fas fa-sync rotate-image" style="font-size: 20px;"></i>
                        </div>
                    </td>
                    <td>@book.getBookName</td>
                    <td>@book.getBookCost</td>
                    <td>@book.getBookDiscount</td>
                    <td>@book.getBookAuthor</td>
                </tr>
            }
            </tbody>
        </table>
        <div class="overflow-auto">
            <div class="w-max margin-auto">
            @paginate(offset, totalPage, controllers.routes.BookController.searchView)
            </div>
        </div>
    </div>

        <!-- The Modal -->
    <div id="photoModal">
        <div id="myPhotoModal" class="modal">
            <span id="modelClose" class="close">&times;</span>
            <div id="align-image">
                <img class="modal-content" id="img01">
            </div>
            <div id="caption"></div>
        </div>
    </div>
}(sidebar)

@sidebar = {
    <div class="sidebar-session">
        <h5 class="sidebar-title">
            <i class="fa fa-check-circle"></i> Tìm kiếm
        </h5>
        <div class="sidebar-body">
        @helper.form(action = controllers.routes.BookController.search(1)) {
            <div class="form-group">
                <label class="col-form-label">Tên sách</label>
                @b3.text(bookForm("bookName"), 'class -> "form-control")
            </div>
            <div class="form-group">
                <label class="col-form-label">Kiểu sách</label>
                @b3.select(bookForm("bookType"), options = bookType, 'class -> "form-control", '_default -> "")
            </div>
            <div class="my-label-120 sidebar-button">
                <button type="submit" class="btn btn-primary btn-block">Tìm kiếm</button>
            </div>
        }
        </div>
    </div>

    <div class="sidebar-session">
        <h5 class="sidebar-title">
            <i class="fa fa-check-circle"></i> Chức năng
        </h5>
        <div class="my-label-120 sidebar-body sidebar-button">
            <a href="@routes.BookController.addView()"
            class="btn btn-success btn-block btn-add-view" modal-title="Thêm sách">Thêm mới</a>
        </div>
    </div>
}
