@import models.entities.Book
@(
    identity: String,
        bookSearchList: List[Book],
        cartCount: Int,
        offset: Int,
        totalPage: Int
)

@main(identity, Messages("title.bookSearch"), "45%", cartCount) {
    <div class="container m-bottom-25" >
        <div class="title">
            <i class="fas fa-check-circle"></i>
            <span>Sách tìm kiếm</span>
        </div>
        <div class="row book-row">
        @for(book <- bookSearchList) {
            @helper.form(action = controllers.routes.CartController.add()) {
                <div class="col-sm-3 m-bottom-25">
                    <div class="book">
                        <input type="text" name="bookId" class="d-none-important" value="@book.getBookId" readonly>
                        @if(book.getBookDiscount != 0) {
                            <span class="discount">-@book.getBookDiscount%</span>
                        }
                        <div class="book-home">
                            <img class="img-select" src="@book.getBookImage"
                            alt="@book.getBookImage.split("/").last" deg="0">
                        </div>
                        <div class="book-text">
                            <a>
                                <p style="text-overflow: ellipsis;">@book.getBookName</p>
                            </a>
                        </div>
                        <div class="d-flex" style="margin-top: 20px;">
                            <div class="book-btn">
                                <button type="submit" book="@book.getBookId" class="buy-book btn-default">Mua hàng</button>
                            </div>
                            <div class="w-100 text-right" style="padding-right: 15px;">
                                @if(book.getBookDiscount != 0) {
                                    <span class="oldPrice">@book.getBookCost VNĐ</span>
                                    <br />
                                }
                                <span class="newPrice">
                                    @{book.getBookCost * (100 - book.getBookDiscount)/100} VNĐ
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        </div>
        <div class="overflow-auto">
            <div class="w-max margin-auto">
            @paginate(offset, totalPage, controllers.routes.BookController.bookSearchView)
            </div>
        </div>
    </div>

        <!-- The Modal -->
    <div id="photoModal">
        <div id="myPhotoModal" class="modal">
            <span id="modelClose" class="close">&times;</span>
            <div id="align-image">
                <img class="modal-content" id="img01">
            </div>
            <div id="caption"></div>
        </div>
    </div>
}()