@import forms.PersonForm
@import play.data.Form
@import b3.vertical.fieldConstructor
@import models.entities.{Customer, Staff}
@import utils.GlobalVariable.userIdentity
@(identity: String,
        personForm: Form[PersonForm],
        customer: Customer,
        staff: Staff
)

@main(identity, Messages("title.order"), modalWidth = "40%") {
    <div class="container-fluid content-top" style="width: 90%;">
        <div class="row" style="margin-left: 0">
            <div class="personal">
                <div class="personal-title">
                    Thông tin cá nhân
                </div>
                <div class="personal-info">
                    @helper.form(action = routes.AccountController.loadAvatar, 'id -> "loadAvatarForm", 'enctype -> "multipart/form-data") {

                    }
                    @helper.form(action = routes.AccountController.personalEdit()) {
                        <div class="container-fluid">
                            <div class="d-none-important">
                                @b3.text(personForm("avatarSource"), 'class -> "form-control", 'readonly -> true)
                                @b3.text(personForm("avatarName"), 'class -> "form-control", 'readonly -> true)
                            </div>
                            <div style="width: 250px; height: 330px; margin: 20px;" class="f-left-important">
                                <img id="personAvatar" src="/assets/images/avatar.png" style="width: 250px; height: 250px;" class="img-circle" alt="">
                                <input type="file" id="personAvatarInput" name="personAvatarInput" form="loadAvatarForm" class="d-none-important">
                                <label for="personAvatarInput" class="btn btn-block btn-primary" style="margin-top: 5px;">Thay avatar</label>
                                <a href="@routes.AccountController.changePasswordView()"
                                class="btn btn-block btn-success btn-edit-view" modal-title="Đổi mật khẩu">
                                    Đổi mật khẩu
                                </a>
                            </div>
                            <div class="form-group row" style="margin-top: 20px;">
                                <label class="col-sm-1 my-label-150">Tên tài khoản</label>
                                <div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" value="@session().get(userIdentity)" disabled>
                                    </div>
                                </div>
                                <label class="col-sm-1 my-label-150">Họ và tên</label>
                                <div>
                                    <div class="col-sm-6">
                                    @b3.text(personForm("personName"), 'class -> "form-control", 'readonly -> true)
                                    </div>
                                    <button type="button" class="col-sm-1 btn btn-block btn-primary btn-personal-edit"
                                    style="width: max-content;">Sửa</button>
                                </div>
                                <label class="col-sm-1 my-label-150">Tuổi</label>
                                <div>
                                    <div class="col-sm-6">
                                    @b3.number(personForm("personAge"), 'class -> "form-control", 'readonly -> true)
                                    </div>
                                    <button type="button" class="col-sm-1 btn btn-block btn-primary btn-personal-edit"
                                    style="width: max-content;">Sửa</button>
                                </div>
                                <label class="col-sm-1 my-label-150">Địa chỉ</label>
                                <div>
                                    <div class="col-sm-6">
                                    @b3.text(personForm("personAddress"), 'class -> "form-control", 'readonly -> true)
                                    </div>
                                    <button type="button" class="col-sm-1 btn btn-block btn-primary btn-personal-edit"
                                    style="width: max-content;">Sửa</button>
                                </div>
                                <label class="col-sm-1 my-label-150">Số điện thoại</label>
                                <div>
                                    <div class="col-sm-6">
                                    @b3.text(personForm("personPhone"), 'class -> "form-control", 'readonly -> true)
                                    </div>
                                    <button type="button" class="col-sm-1 btn btn-block btn-primary btn-personal-edit"
                                    style="width: max-content;">Sửa</button>
                                </div>
                            </div>
                            <div class="form-group row" style="margin-top: 14px;">
                                <label class="col-sm-1 my-label-150" style="margin-left: 26px;">Ghi chú</label>
                                <div class="col-sm-8">
                                @b3.textarea(personForm("personNote"), 'rows -> 10, 'class -> "form-control", 'readonly -> true)
                                </div>
                                <button type="button" class="col-sm-1 btn btn-block btn-primary btn-personal-edit"
                                    style="width: max-content;">Sửa</button>
                            </div>
                            <div class="personal-border">
                                <button type="submit" class="btn btn-primary btn-block btn-page">Cập nhật</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}()