@import b3.vertical.fieldConstructor
@import play.data.Form
@import models.entities.OrderDetail
@import forms.OrderSearchForm

@(identity: String,
        orderDetailList: List[OrderDetail],
        offset: Int,
        totalPage: Int
)

@orderGroupMap = @{
    orderDetailList.groupBy(_.getOrder.getOrderId).mapValues(_.map(
        orderDetail => (orderDetail.getBook, orderDetail.getBookNumber, orderDetail.getBookCost, orderDetail.getBookDiscount)
    ))
}

@orderStatus = @{Seq(
    "pending" -> "Chờ xác nhận",
    "delivery" -> "Đang giao hàng",
    "accept" -> "Đã giao hàng",
    "cancel" -> "Đã huỷ"
)}

@main(identity, Messages("title.order"), "35%") {
    <ol class="breadcrumb">
        <li class="active">
            <i class="fa fa-check-circle"></i> Danh sách đơn hàng
        </li>
    </ol>

    <div id="content">
        <table class="table table-bordered table-striped table-first-center table-hover">
            <thead>
                <tr>
                    <th scope="col" width="13%">Tên khách hàng</th>
                    <th scope="col">Tên sách</th>
                    <th scope="col" width="9%">Số lượng</th>
                    <th scope="col" width="8%">Giá gốc</th>
                    <th scope="col" width="8%">Giá thực</th>
                    <th scope="col" width="10%">Tổng tiền</th>
                    <th scope="col" width="15%">Địa chỉ giao hàng</th>
                    <th scope="col" width="4%">Đã thanh toán</th>
                    <th width="10%">Trạng thái</th>
                </tr>
            </thead>
            <tbody>
            @for(i <- 0 until orderDetailList.length) {
                @if(i == 0 || orderDetailList.get(i).getOrder != orderDetailList.get(i - 1).getOrder) {
                    <tr>
                        <td rowspan="@orderGroupMap.get(orderDetailList.get(i).getOrder.getOrderId).get.length">
                            @orderDetailList.get(i).getOrder.getCustomer.getCustomerName
                        </td>
                        <td>@orderDetailList.get(i).getBook.getBookName</td>
                        <td>@orderDetailList.get(i).getBookNumber</td>
                        <td>@orderDetailList.get(i).getBookCost</td>
                        <td>@{
                            orderDetailList.get(i).getBookCost*(100 - orderDetailList.get(i).getBookDiscount)/100
                        } (-@orderDetailList.get(i).getBookDiscount%)</td>
                        <td rowspan="@orderGroupMap.get(orderDetailList.get(i).getOrder.getOrderId).get.length">
                            @orderDetailList.get(i).getOrder.getOrderCost
                        </td>
                        <td rowspan="@orderGroupMap.get(orderDetailList.get(i).getOrder.getOrderId).get.length">
                            @orderDetailList.get(i).getOrder.getOrderAddress
                        </td>
                        <td rowspan="@orderGroupMap.get(orderDetailList.get(i).getOrder.getOrderId).get.length" class="text-center">
                            @if(orderDetailList.get(i).getOrder().getPayed){ <i style="font-weight: bold">✓</i> }
                        </td>
                        <td rowspan="@orderGroupMap.get(orderDetailList.get(i).getOrder.getOrderId).get.length" class="text-center">
                            @if(orderDetailList.get(i).getOrder.getOrderStatus == "pending") {
                                Đã tiếp nhận
                            } else {
                                @if(orderDetailList.get(i).getOrder.getOrderStatus == "delivery") {
                                    Giao hàng thành công
                                } else {
                                    @if(orderDetailList.get(i).getOrder.getOrderStatus == "cancel") {
                                        Đã bị huỷ
                                    } else {
                                        Đã giao hàng
                                    }
                                }
                            }
                        </td>
                    </tr>
                    @for((book, bookNumber, bookCost, bookDiscount) <- orderGroupMap.get(orderDetailList.get(i).getOrder.getOrderId).get.tail) {
                        <tr>
                            <td>@book.getBookName</td>
                            <td>@bookNumber</td>
                            <td>@bookCost</td>
                            <td>@{
                                bookCost*(100 - bookDiscount)/100
                            } (-@bookDiscount%)</td>
                        </tr>
                    }
                }
            }
            </tbody>
        </table>
        <div class="overflow-auto">
            <div class="w-max margin-auto">
            @paginate(offset, totalPage, controllers.routes.OrderController.searchMineView)
            </div>
        </div>
    </div>
}()