@import forms.PasswordForm
@import play.data.Form
@import b3.vertical.fieldConstructor
@(passwordForm: Form[PasswordForm])

<div class="container-fluid">
    <div class="row">
        @helper.form(action = routes.AccountController.changePassword()) {
            <div class="container-fluid">
                <div class="form-group row">
                    <label class="col-sm-1 my-label-190">Mật khẩu cũ</label>
                    <div class="col-sm-6">
                    @b3.password(passwordForm("oldPassword"), 'class -> "form-control")
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-1 my-label-190">Mật khẩu mới</label>
                    <div class="col-sm-6">
                    @b3.password(passwordForm("newPassword"), 'class -> "form-control")
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-1 my-label-190">Nhập lại mật khẩu mới</label>
                    <div class="col-sm-6">
                    @b3.password(passwordForm("reNewPassword"), 'class -> "form-control")
                    </div>
                </div>
                <div style="margin: 10px 0;">
                    <button href="@routes.AccountController.personalIndex()" type="submit"
                    class="btn btn-primary btn-block btn-page btn-edit"
                    modal-title="Đổi mật khẩu">Cập nhật</button>
                </div>
            </div>
        }
    </div>
</div>