@import b3.vertical.fieldConstructor
@import play.data.Form
@import forms.AccountForm

@(accountForm: Form[AccountForm])

<div class="container-fluid">
    <div class="row">
        @helper.form(action = routes.AccountController.signIn()) {
            <div class="container-fluid">
                <div class="form-group row">
                    <label class="col-sm-1 my-label-150">Tên tài khoản</label>
                    <div class="col-sm-6">
                    @b3.text(accountForm("accountName"), 'class -> "form-control")
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-1 my-label-150">Mật khẩu</label>
                    <div class="col-sm-6">
                    @b3.password(accountForm("accountPassword"), 'class -> "form-control")
                    </div>
                </div>
                <div style="margin: 10px 0;">
                    <button type="submit" class="btn btn-primary btn-block btn-page btn-sign-in">Đăng nhập</button>
                </div>
            </div>
        }
    </div>
    <p class="text-center">Hoặc</p>
    <div class="text-center">
        <a id="loginFacebook" href="@controllers.routes.AccountController.signInFacebook()" class="btn btn-success">Đăng nhập bằng Facebook</a>
    </div>
    <div class="text-center" style="margin-top: 10px;">
        <a id="loginGoogle" href="@controllers.routes.AccountController.signInGoogle()"
        class="btn btn-success">Đăng nhập bằng Google</a>
    </div>
</div>