@import models.entities.Book
@import javafx.util.Pair

@(identity: String,
            cartCount: Int,
        recentBookList: List[Book],
        bookRank: List[Pair[Integer, Book]])

@rankLength = @{
    bookRank.length
}

@listBookRank = @{
    bookRank.map { pair =>
      pair.getValue
    }
}

@main(identity, Messages("title.home"), "45%", cartCount) {
    <div class="page-both">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="introduce d-flex">
                        <div id="myCarousel" class="carousel slide w-70" data-ride="carousel">
                                <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#myCarousel" data-slide-to="1"></li>
                                <li data-target="#myCarousel" data-slide-to="2"></li>
                            </ol>
                                <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img src="/assets/screenshots/carousel1.jpg" alt="">
                                </div>
                                <div class="item">
                                    <img src="/assets/screenshots/carousel2.jpg" alt="">
                                </div>
                                <div class="item">
                                    <img src="/assets/screenshots/carousel3.jpg" alt="">
                                </div>
                            </div>
                                <!-- Left and right controls -->
                            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                        <div class="rank w-30">
                            <h2 class="text-title">BẢNG XẾP HẠNG SÁCH</h2>
                            <div class="rank-book">
                                <div class="rank-star rank-star-1">1</div>
                                @if(rankLength > 0) {
                                    <span class="rank-book-name">@bookRank.get(0).getValue.getBookName</span>
                                    <div class="rank-book-sell text-right">@bookRank.get(0).getKey</div>
                                }
                            </div>
                            <div class="rank-book">
                                <div class="rank-star rank-star-2">2</div>
                                @if(rankLength > 1) {
                                    <span class="rank-book-name">@bookRank.get(1).getValue.getBookName</span>
                                    <div class="rank-book-sell text-right">@bookRank.get(1).getKey</div>
                                }
                            </div>
                            <div class="rank-book">
                                <div class="rank-star rank-star-3">3</div>
                                @if(rankLength > 2) {
                                    <span class="rank-book-name">@bookRank.get(2).getValue.getBookName</span>
                                    <div class="rank-book-sell text-right">@bookRank.get(2).getKey</div>
                                }
                            </div>
                            <div class="rank-book">
                                <div class="rank-star normal-rank">4</div>
                                @if(rankLength > 3) {
                                    <span class="rank-book-name">@bookRank.get(3).getValue.getBookName</span>
                                    <div class="rank-book-sell text-right">@bookRank.get(3).getKey</div>
                                }
                            </div>
                            <div class="rank-book">
                                <div class="rank-star normal-rank">5</div>
                                @if(rankLength > 4) {
                                    <span class="rank-book-name">@bookRank.get(4).getValue.getBookName</span>
                                    <div class="rank-book-sell text-right">@bookRank.get(4).getKey</div>
                                }
                            </div>
                            <div class="rank-book">
                                <div class="rank-star normal-rank">6</div>
                                @if(rankLength > 5) {
                                    <span class="rank-book-name">@bookRank.get(5).getValue.getBookName</span>
                                    <div class="rank-book-sell text-right">@bookRank.get(5).getKey</div>
                                }
                            </div>
                            <div class="rank-book">
                                <div class="rank-star normal-rank">7</div>
                                @if(rankLength > 6) {
                                    <span class="rank-book-name">@bookRank.get(6).getValue.getBookName</span>
                                    <div class="rank-book-sell text-right">@bookRank.get(6).getKey</div>
                                }
                            </div>
                            <div class="rank-book">
                                <div class="rank-star normal-rank">8</div>
                                @if(rankLength > 7) {
                                    <span class="rank-book-name">@bookRank.get(7).getValue.getBookName</span>
                                    <div class="rank-book-sell text-right">@bookRank.get(7).getKey</div>
                                }
                            </div>
                            <div class="rank-book">
                                <div class="rank-star normal-rank">9</div>
                                @if(rankLength > 8) {
                                    <span class="rank-book-name">@bookRank.get(8).getValue.getBookName</span>
                                    <div class="rank-book-sell text-right">@bookRank.get(8).getKey</div>
                                }
                            </div>
                            <div class="rank-book">
                                <div class="rank-star normal-rank">10</div>
                                @if(rankLength > 9) {
                                    <span class="rank-book-name">@bookRank.get(9).getValue.getBookName</span>
                                    <div class="rank-book-sell text-right">@bookRank.get(9).getKey</div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="title">
                <i class="fas fa-check-circle"></i>
                <span>Sách mới</span>
            </div>
            <div class="row book-row">
                @for(book <- recentBookList) {
                    @helper.form(action = controllers.routes.CartController.add()) {
                        <div class="col-sm-3 m-bottom-25">
                            <div class="book">
                                <input type="text" name="bookId" class="d-none-important" value="@book.getBookId" readonly>
                                @if(book.getBookDiscount != 0) {
                                    <span class="discount">-@book.getBookDiscount%</span>
                                }
                                <div class="book-home">
                                    <img class="img-select" src="@book.getBookImage"
                                    alt="@book.getBookImage.split("/").last" deg="0">
                                </div>
                                <div class="book-text">
                                    <a>
                                        <p style="text-overflow: ellipsis;">@book.getBookName</p>
                                    </a>
                                </div>
                                <div class="d-flex" style="margin-top: 20px;">
                                    <div class="book-btn">
                                        <button type="submit" book="@book.getBookId" class="buy-book btn-default">Mua hàng</button>
                                    </div>
                                    <div class="w-100 text-right" style="padding-right: 15px;">
                                        @if(book.getBookDiscount != 0) {
                                            <span class="oldPrice">@book.getBookCost VNĐ</span>
                                            <br />
                                        }
                                        <span class="newPrice">
                                        @{book.getBookCost * (100 - book.getBookDiscount)/100} VNĐ
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
            <div class="text-right" style="margin-bottom: 10px;">
                <a href="@controllers.routes.BookController.bookSearchView(1)" class="btn btn-primary">Xem thêm</a>
            </div>
        </div>
        <div class="container m-bottom-25" >
            <div class="title">
                <i class="fas fa-check-circle"></i>
                <span>Sách bán chạy nhất</span>
            </div>
            <div class="row book-row">
                @for(book <- listBookRank) {
                    @helper.form(action = controllers.routes.CartController.add()) {
                        <div class="col-sm-3 m-bottom-25">
                            <div class="book">
                                <input type="text" name="bookId" class="d-none-important" value="@book.getBookId" readonly>
                                @if(book.getBookDiscount != 0) {
                                    <span class="discount">-@book.getBookDiscount%</span>
                                }
                                <div class="book-home">
                                    <img class="img-select" src="@book.getBookImage"
                                    alt="@book.getBookImage.split("/").last" deg="0">
                                </div>
                                <div class="book-text">
                                    <a>
                                        <p style="text-overflow: ellipsis;">@book.getBookName</p>
                                    </a>
                                </div>
                                <div class="d-flex" style="margin-top: 20px;">
                                    <div class="book-btn">
                                        <button type="submit" book="@book.getBookId" class="buy-book btn-default">Mua hàng</button>
                                    </div>
                                    <div class="w-100 text-right" style="padding-right: 15px;">
                                        @if(book.getBookDiscount != 0) {
                                            <span class="oldPrice">@book.getBookCost VNĐ</span>
                                            <br />
                                        }
                                        <span class="newPrice">
                                            @{book.getBookCost * (100 - book.getBookDiscount)/100} VNĐ
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>

        <!-- The Modal -->
    <div id="photoModal">
        <div id="myPhotoModal" class="modal">
            <span id="modelClose" class="close">&times;</span>
            <div id="align-image">
                <img class="modal-content" id="img01">
            </div>
            <div id="caption"></div>
        </div>
    </div>
}()
