@import play.mvc.Call

@(offset: Int, totalPage: Int, route: Int => Call)
@head = @{
    if(offset < 3) 1
    else if(offset > totalPage - 3) totalPage - 4
    else offset - 2
}
@tail = @{
    if(offset < 3) 5
    else if(offset > totalPage - 3) totalPage
    else offset + 2
}
<div class="text-center">
    <div class="paginate-bar" style="margin-bottom: 30px;">
        <div class="d-flex" style="justify-content: center">
            <nav class="page-navigation">
                @if(totalPage > 0){
                    <a href="@{
                        if(offset == 1) route(1) else route(offset - 1)
                    }"> &laquo; </a>
                }
                @if(totalPage <= 5){
                    @for(i <- 1 to totalPage ){
                        <a class="@{if(offset == i)"page-active"}"  href="@route(i)">@(i)</a>
                    }
                }else{
                    @if(head > 1) {
                        <a href="@route(1)">1</a>
                        <a>...</a>
                    }
                    @for(i <- head to tail ){
                        <a class="@{if(offset == i)"page-active"}"  href="@route(i)">@(i)</a>
                    }
                    @if(tail < totalPage) {
                        <a>...</a></td>
                        <a href="@route(totalPage)">@(totalPage)</a></td>
                    }
                }
                @if(totalPage > 0){
                    <a href="@{
                        if(offset == totalPage) route(totalPage) else route(offset + 1)
                    }"> &raquo; </a>
                }
            </nav>
        </div>
    </div>
</div>