@()

<div class="container-fluid">
    <div class="row">
        <div class="text-center">
            <a href="@controllers.routes.CartController.buy()" class="btn btn-primary">Trực tiếp</a>
            <a href="@controllers.routes.CartController.paypalPayment()" class="btn btn-primary">Paypal</a>
        </div>
    </div>
</div>