@import forms.CustomerForm
@import b3.vertical.fieldConstructor
@import play.data.Form

@(customerForm: Form[CustomerForm])

<div class="container-fluid">
    <div class="row">
        @helper.form(action = routes.CustomerController.add()) {
            <div class="container-fluid">
                <div class="form-group row">
                    <label class="col-sm-1 my-label-150">Tên tài khoản</label>
                    <div class="col-sm-6">
                    @b3.text(customerForm("accountName"), 'class -> "form-control")
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-1 my-label-150">Mật khẩu</label>
                    <div class="col-sm-6">
                    @b3.password(customerForm("accountPassword"), 'class -> "form-control")
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-1 my-label-150">Nhập lại mật khẩu</label>
                    <div class="col-sm-6">
                    @b3.password(customerForm("accountRepeatPassword"), 'class -> "form-control")
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-1 my-label-150">Họ và tên</label>
                    <div class="col-sm-6">
                    @b3.text(customerForm("customerName"), 'class -> "form-control")
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-1 my-label-150">Tuổi</label>
                    <div class="col-sm-6">
                    @b3.number(customerForm("customerAge"), 'class -> "form-control")
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-1 my-label-150">Địa chỉ</label>
                    <div class="col-sm-6">
                    @b3.text(customerForm("customerAddress"), 'class -> "form-control")
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-1 my-label-150">Số điện thoại</label>
                    <div class="col-sm-6">
                    @b3.text(customerForm("customerPhone"), 'class -> "form-control")
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-1 my-label-150">Ghi chú</label>
                    <div class="col-sm-8">
                    @b3.textarea(customerForm("customerNote"), 'rows -> 10, 'class -> "form-control")
                    </div>
                </div>
                <div style="margin: 10px 0;">
                    <button type="submit" class="btn btn-primary btn-block btn-page btn-add"
                    href="@routes.Application.index()">Đăng kí</button>
                </div>
            </div>
        }
    </div>
</div>