@import forms.CustomerForm
@import b3.vertical.fieldConstructor
@import play.data.Form
@import models.entities.Customer

@(customerForm: Form[CustomerForm],
        customerRetrieve: Customer
)

<div class="container-fluid">
    <div class="row">
        <div class="container-fluid">
            <div class="form-group row">
                <label class="col-sm-1 my-label-150">Tên tài khoản</label>
                <div class="col-sm-6">
                    @b3.text(customerForm("accountName"), 'class -> "form-control", 'disabled -> true)
                </div>
            </div>
            <div class="form-group row d-none">
                <label class="col-sm-1 my-label-150">Mật khẩu</label>
                <div class="col-sm-6">
                @b3.password(customerForm("accountPassword"), 'class -> "form-control", 'disabled -> true)
                </div>
            </div>
            <div class="form-group row d-none">
                <label class="col-sm-1 my-label-150">Nhập lại mật khẩu</label>
                <div class="col-sm-6">
                @b3.password(customerForm("accountRepeatPassword"), 'class -> "form-control", 'disabled -> true)
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-1 my-label-150">Họ và tên</label>
                <div class="col-sm-6">
                @b3.text(customerForm("customerName"), 'class -> "form-control", 'disabled -> true)
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-1 my-label-150">Tuổi</label>
                <div class="col-sm-6">
                @b3.number(customerForm("customerAge"), 'class -> "form-control", 'disabled -> true)
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-1 my-label-150">Địa chỉ</label>
                <div class="col-sm-6">
                @b3.text(customerForm("customerAddress"), 'class -> "form-control", 'disabled -> true)
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-1 my-label-150">Số điện thoại</label>
                <div class="col-sm-6">
                @b3.text(customerForm("customerPhone"), 'class -> "form-control", 'disabled -> true)
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-1 my-label-150">Ghi chú</label>
                <div class="col-sm-8">
                @b3.textarea(customerForm("customerNote"), 'rows -> 10, 'class -> "form-control", 'disabled -> true)
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-1 col-form-label my-label-150">Ngày tạo</label>
                <div class="col-sm-9">
                    <label style="font-size: 14px">@{
                        utils.Convert.formatTimeStamp(customerRetrieve.getCreatedAt)
                    }</label>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-1 col-form-label my-label-150">Ngày cập nhật</label>
                <div class="col-sm-9">
                    <label style="font-size: 14px">@{
                        utils.Convert.formatTimeStamp(customerRetrieve.getUpdatedAt)
                    }</label>
                </div>
            </div>
            @if(customerRetrieve.getAccount().isLock()) {
                <div style="margin: 10px 0;">
                    <a href="@routes.AccountController.unLockAccount(customerRetrieve.getAccount().getAccountName())"
                        class="btn btn-primary btn-block btn-page btn-unlock">Mở khoá</a>
                </div>
            } else {
                <div style="margin: 10px 0;">
                    <a href="@routes.AccountController.lockAccount(customerRetrieve.getAccount().getAccountName())"
                        class="btn btn-danger btn-block btn-page btn-lock">Khoá tài khoản</a>
                </div>
            }

        </div>
    </div>
</div>