@import b3.vertical.fieldConstructor
@import play.data.Form
@import models.entities.Customer
@import forms.CustomerSearchForm
@(identity: String,
        customerForm: Form[CustomerSearchForm],
        customerList: List[Customer],
        offset: Int,
        totalPage: Int
)

@main(identity, Messages("title.customer"), "45%") {

    <ol class="breadcrumb">
        <li class="active">
            <i class="fa fa-check-circle"></i> Danh sách khách hàng
        </li>
    </ol>

    <div id="content">
        <table class="table table-bordered table-striped table-first-center table-hover">
            <thead>
                <tr>
                    <th width="7%"></th>
                    <th scope="col" width="20%">Tên khách hàng</th>
                    <th scope="col" width="15%">Tên tài khoản</th>
                    <th scope="col" width="5%">Tuổi</th>
                    <th scope="col">Địa chỉ</th>
                </tr>
            </thead>
            <tbody>
            @for(customer <- customerList) {
                <tr>
                    <td class="text-center"><a href="@routes.CustomerController.editView(customer.getCustomerId)"
                    class="btn-edit-view" modal-title="Thông tin chi tiết">Chi tiết</a></td>
                    <td>@customer.getCustomerName</td>
                    <td>@customer.getAccount.getAccountName</td>
                    <td>@customer.getCustomerAge</td>
                    <td>@customer.getCustomerAddress</td>
                </tr>
            }
            </tbody>
        </table>
        <div class="overflow-auto">
            <div class="w-max margin-auto">
            @paginate(offset, totalPage, controllers.routes.CustomerController.searchView)
            </div>
        </div>
    </div>
}(sidebar)

@sidebar = {
    <div class="sidebar-session">
        <h5 class="sidebar-title">
            <i class="fa fa-check-circle"></i> Tìm kiếm
        </h5>
        <div class="sidebar-body">
        @helper.form(action = controllers.routes.CustomerController.search(1)) {
            <div class="form-group">
                <label class="col-form-label">Tên tài khoản</label>
                @b3.text(customerForm("accountName"), 'class -> "form-control")
            </div>
            <div class="form-group">
                <label class="col-form-label">Tên khách hàng</label>
                @b3.text(customerForm("customerName"), 'class -> "form-control")
            </div>
            <div class="my-label-120 sidebar-button">
                <button type="submit" class="btn btn-primary btn-block">Tìm kiếm</button>
            </div>
        }
        </div>
    </div>
}
